.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: white;
}
.App-header{
  flex-basis: 60px;
  line-height: 60px;
}
.main-content{
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.addMovie {
  position: absolute;
  top: 16px;
  right: 20px;
  font-size: 25px;
  color: orange;
}